<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
    <title> {{ title }} </title>
  {% else %}
    <title> The Daily Planet </title>
  {% endif %}
</head>

<body>
  <!-- Business Sources Section -->
  <h2> Business </h2>
  {% for business_source in business %}
    <div>
      <h5>{{ business_source.name }}</h5>
      <p>{{ business_source.description }}</p>
      <a href="">Visit {{ business_source.name }}</a>
    </div>
  {% endfor %}
</body>
</html>