{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
  <div class="container-xl py-3">
    <!-- Business Sources Section -->
    <h2 class="pt-4 pb-0 mb-0"> Business News </h2>
    <hr>
    {{ macro.displaySourcesList(business) }}
    <!-- Entertainment Sources Section -->
    <h2 class="pt-4 pb-0 mb-0"> Entertainment News </h2>
    <hr>
    {{ macro.displaySourcesList(entertainment) }}
    <!-- General Sources Section -->
    <h2 class="pt-4 pb-0 mb-0"> General News </h2>
    <hr>
    {{ macro.displaySourcesList(general) }}
    <!-- Health Sources Section -->
    <h2 class="pt-4 pb-0 mb-0"> Health News </h2>
    <hr>
    {{ macro.displaySourcesList(health) }}
    <!-- Science Sources Section -->
    <h2 class="pt-4 pb-0 mb-0"> Science News </h2>
    <hr>
    {{ macro.displaySourcesList(science) }}
    <!-- Sports Sources Section -->
    <h2 class="pt-4 pb-0 mb-0"> Sports News </h2>
    <hr>
    {{ macro.displaySourcesList(sports) }}
    <!-- Technology Sources Section -->
    <h2 class="pt-4 pb-0 mb-0"> Technology News </h2>
    <hr>
    {{ macro.displaySourcesList(technology) }}
  </div>

{% endblock %}