{% macro displaySourcesList(sources_list) %}

  {% for source in sources_list %}
    <div>
      <h5>{{ source.name }}</h5>
      <p>{{ source.description }}</p>
      <a href="/source/{{source.id}}">Visit {{ source.name }}</a>
    </div>
  {% endfor %}

{% endmacro %}


{% macro displayArticlesList(articles_list) %}

{% for article in articles_list %}
<div>
  <div>
    <img src="{{article.urlToImage}}" alt="{{article.title}}" class="img-responsive">
  </div>
  <p>{{ article.description }}</p>
  <a href="{{article.url}}">Read More</a>
</div>
{% endfor %}

{% endmacro %}